* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    display: flex;
}

.box {
  width: 100px;
  height: 100px;
  margin: 5px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}
